extends layout
block content
    div(class="container-fluid")
        h1= title
    - let results=[{rabbit_color:"grey",rabbit_breed:"Californian rabbit",rabbit_price:25000},{rabbit_color:"white",rabbit_breed:"Angora rabbit",rabbit_price:15500},{rabbit_color:"dark",rabbit_breed:"rex rabbit",rabbit_price:10000}]
        div(class="row")
            each form,item in results
                div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.rabbit_color}
                div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.rabbit_breed}
                div(class = "col-sm-2 bg-secondary" onclick=`buy(${item})`) #{form.rabbit_price}
                hr
    br
    h5= 'buy'

    div(class="container-fluid")
      each rabbit,index in results
        div(class="row", onclick=`buy(${index})`)
          div(class="col-sm-2") <br>rabbit #{index}: #{rabbit.rabbit_color} breed:#{rabbit.rabbit_breed} price:#{rabbit.rabbit_price}

    script.
        function buy(itemNo)
        {
            alert(`You purchased Item ${itemNo+1}`)
        }